flask
flask-login
flask-bcrypt
flask-sqlalchemy
psycopg2-binary
gunicorn
python-dotenv
numpy
pandas
scipy
scikit-learn
xgboost
joblib
shap
opencv-python-headless
matplotlib
reportlab
Pillow